DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
PORT=3000
NODE_ENV="development"
JWT_ACCESS_KEY="jwt_access_key"
JWT_ACCESS_EXPIRY="10m"
JWT_REFRESH_KEY="jwt_refresh_key"
JWT_REFRESH_EXPIRY="7d"
JWT_ISSUER="wallet-system-api"
